@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    background-color: all.$col-dark;

    .content {
        @include all.fl();

        .about-content {
            @include all.fl($flexdir: row, $alit: flex-start);
            gap: 24px;

            div {
                width: 40%;
            }

            .about-located {
                @include all.fl($flexdir: row);
                gap: 8px;

                img {
                    width: 70px;
                }

                span {
                    font-size: 32px;
                }

                .blue {
                    color: all.$col-blue;
                }
            }
            .about-text{
                @include all.fl($alit: flex-end);
                gap: 16px;
                p{
                    font-size: all.$p-text;
                    line-height: 1.2;
                }
                a{
                    color: all.$col-blue;
                    font-size: all.$p-text;
                    border: solid 1px all.$col-blue;
                    border-radius: 24px;
                    padding: 8px 16px;
                    margin-bottom: 24px;
                    transition: 300ms;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.15);
                    }
                }
            }

        }
    }
}