<section>
    <div class="content">
        <h1>{{ 'about.headline' | translate}}</h1>
        <div class="about-content">
            <div class="about-located">
                <!-- <img src="assets/icons/located.png" alt="location icon">
                <span class="blue">{{ 'about.locatedBlue' | translate}}</span>
                <span>{{ 'about.located' | translate}}</span>                 -->
                <app-typewriter></app-typewriter>
            </div>
            <div class="about-text">
                <p>{{ 'about.text' |translate}}</p>
                <a href="#contact">{{'about.talk' |translate}}</a>
            </div>
        </div>
    </div>
</section>
<!-- TODO: Typewriter Effect einbauen. Tipp: bei https://webdev-kilian.de/ reingucken -->