@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    background-color: all.$col-dark;

    .content {
        @include all.fl();


        >div {
            @include all.fl($flexdir: row,);
            gap: 64px;
            width: 100%;
        }

        .skills-icons {
            @include all.fl($flexdir: row);
            gap: 32px;
            width: 400px;
            flex-wrap: wrap;

        }

        .skills-learning {
            @include all.fl();
            gap: 24px;
            width: 400px;
            aspect-ratio: 1/1;
            padding: 48px;
            background-image: url(../../../../public/assets/img/reference1.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: 300ms;
            &:hover{
                background-image: url(../../../../public/assets/img/reference2.png);
            }

            p {
                // width: 100%;
                text-align: center;
                line-height: 1.3;
                font-size: all.$p-text;
            }
            >div{
                @include all.fl($flexdir: row);
                gap: 16px;
                .icon{
                    
                    img{
                        height: clamp(60px, 2dvw, 90px);
                    }
                    
                    span{
                        color: all.$col-white;
                        font-size: all.$p-text;
                    }
                }
            }
        }

        .icon {
            @include all.fl($jc: flex-start);
            gap: 16px;
            // width: 70px;

            span {
                color: all.$col-blue;
                text-align: center;
            }
        }
    }
}