@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    background-color: all.$col-dark;

    .content {
        @include all.fl();


        >div {
            @include all.fl($flexdir: row, );
            gap: 64px;
            width: 100%;

            @include all.notebook {
                flex-direction: column;
            }
        }

        .skills-icons {
            @include all.fl($flexdir: row);
            gap: 32px;
            width: 400px;
            flex-wrap: wrap;

            @include all.notebook {
                width: 80%;
                gap: 40px;
            }
            @include all.tablet {
                width: 100%;
                gap: 32px;
            }

            .icon {
                width: 70px;
                height: 100px;
                @include all.notebook {
                    width: 60px;
                }
                @include all.tablet{
                    height: 40px;
                    width: 40px;
                }

                img {
                    @include all.tablet {
                        height: 50px;
                    }
                    @include all.mobile{
                        height: 40px;
                    }

                }

                span {
                    @include all.tablet {
                        display: none
                    }
                }
            }


        }

        .skills-learning {

            @include all.fl();
            gap: 24px;
            width: 400px;
            aspect-ratio: 1/1;
            padding: 48px;
            background-image: url(../../../../public/assets/img/reference1.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: 300ms;

            @include all.notebook {
                display: none;

            }

            &:hover {
                background-image: url(../../../../public/assets/img/reference2.png);
            }

            p {
                text-align: center;
                line-height: 1.3;
                font-size: all.$p-text;
            }

            >div {
                @include all.fl($flexdir: row);
                gap: 16px;

                .icon {

                    img {
                        height: clamp(60px, 2dvw, 90px);

                    }

                    span {
                        color: all.$col-white;
                        font-size: all.$p-text;
                    }
                }
            }
        }

        .icon {
            @include all.fl($jc: flex-start);
            gap: 16px;

            span {
                color: all.$col-blue;
                text-align: center;
            }
        }

        .skills-learning-mobile {
            @include all.desktop {
                display: none;
            }

            @include all.fl();

            >h4 {
                color: all.$col-blue;
                margin-bottom: 32px
            }

            >div {
                @include all.fl($flexdir: row-reverse);
                @media(max-width: 400px){
                    flex-direction: column;
                    gap: 16px;
                }

                .icons-learning {
                    @include all.fl($flexdir: row);
                    gap: 16px;
                    padding: 32px;
                    background-image: url(../../../../public/assets/img/reference1.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                p {
                    width: 300px;
                    line-height: 1.2;
                    font-size: all.$p-text;
                    @include all.mobile{
                        font-size: 16px;
                        width: 180px;
                    }
                }
            }
        }
    }
}