@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    background-color: all.$col-dark;
    padding-bottom: 100px;

    .content {
        @include all.fl();
        max-width: 1100px;

        >div {
            @include all.fl($flexdir: row, $alit: flex-start, $jc: flex-start);
            gap: 24px;
            width: 100%;
            margin-bottom: 48px;
            font-size: 20px;

            @include all.tablet {
                @include all.fl($flexdir: column-reverse, $alit: flex-start);

            }

            @include all.mobile {
                font-size: 16px;
            }

            p {
                width: 50%;
                line-height: 1.2;
                text-align: justify;

                @include all.tablet {
                    width: 100%;
                }
            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 8px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    color: all.$col-white;
                }
            }
        }

        form {
            width: 100%;

            input {
                width: 100%;
                padding: 16px;
                background: transparent;
                border: solid all.$col-blue 1px;
                border-radius: 24px;
                color: all.$col-white;
                font-family: 'Josefin Sans';
                outline: none;

                &:focus {
                    background-color: rgba(255, 255, 255, 0.15);
                }

                &::placeholder {
                    color: transparent;

                    @include all.tablet {
                        color: #6b756d;
                    }
                }
            }

            label {
                margin-left: 20px;
                margin-bottom: 4px;
                color: all.$col-blue;

            }

            .form-contact {
                @include all.fl($flexdir: row);
                gap: 16px;
                margin-bottom: 16px;
                height: 100px;
                @include all.tablet{
                    @include all.fl();
                    height: auto;
                }

                >div {
                    width: 50%;
                    @include all.fl($alit: flex-start);
                    @include all.tablet{
                        width: 100%;
                        margin-bottom: 16px ;
                    }
                }

                span {
                    position: absolute;
                    top: 68px;

                    @include all.tablet {
                        top: 48px;
                    }

                    left: 0px;
                }

                label {

                    @include all.tablet {
                        display: none;
                    }
                }

            }

            .form-message {
                width: 100%;
                @include all.fl($alit: flex-start);
                margin-bottom: 16px;

                textarea {
                    min-height: 150px;
                    width: 100%;
                    padding: 16px;
                    background: transparent;
                    border: solid all.$col-blue 1px;
                    border-radius: 24px;
                    color: all.$col-white;
                    font-family: 'Josefin Sans';
                    resize: none;
                    outline: none;
                    margin-bottom: 24px;

                    &:focus {
                        background-color: rgba(255, 255, 255, 0.15);
                        border-color: all.$col-blue;
                    }

                    &::placeholder {
                        color: transparent;

                        @include all.tablet {
                            color: #6b756d;
                        }
                    }
                }

                label {

                    @include all.tablet {
                        display: none;
                    }
                }

                span {
                    position: absolute;
                    left: 0px;
                    top: 170px;

                    @include all.tablet {
                        top: 150px;
                    }

                    
                }
            }

            .form-submit {
                display: flex;
                justify-content: space-between;
                @include all.tablet{
                    flex-direction: column;
                    align-items: flex-end;
                }

                .checkbox {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    margin-bottom: 16px;

                    input {
                        width: auto;
                    }

                    label {
                        color: all.$col-white;
                        line-height: 1.2;

                        a {
                            color: all.$col-blue;
                        }
                    }
                }

                .btn-submit {
                    width: auto;
                    padding: 8px 16px;
                    color: all.$col-blue;
                    transition: 300ms;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.15);
                    }
                }

                >div {
                    display: flex;

                }

            }

            span {
                color: rgb(165, 0, 0);
                margin: 8px;
            }

        }

        >a {

            position: absolute;
            top: 100px;
            right: 0;
            margin-right: 20px;
            @include all.arrowbtn();
            background-image: url(../../../../public/assets/icons/Arrow_up.png);

            @media(max-width: 850px) {
                position: relative;
                margin-bottom: 48px;
            }
        }
    }
}