<section>
    <div class="content">
        <h1>{{"contact.headline"|translate}}</h1>
        <div>
            <p>{{"contact.paragraph"|translate}}</p>
            <div>
                <a href="mailto:nilsalberding@web.de"><img src="assets/icons/icon _email_.png" alt=""> E-mail: nilsalberding&#64;web.de</a>
                <a href="tel:017632859064"><img src="assets/icons/icon _phone_.png" alt="">Tel: 0176 32859064</a>

            </div>
        </div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="form-contact">
                <div>
                    <label for="name">{{"contact.name"|translate}}</label>
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" required>
                    @if (!name.valid && name.touched){
                        <span>Please enter a name!</span>
                    }
                </div>
                <div>
                    <label for="mail">{{"contact.Email"|translate}}</label>
                    <input #mail="ngModel" [(ngModel)]="contactData.email" type="text" id="mail" name="mail" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    @if (!mail.valid && name.touched) {
                        <span>Please enter a Email-Adress!</span>
                    }
                </div>
            </div>
            <div class="form-message">
                <label for="message">{{"contact.message"|translate}}</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" required></textarea>
                @if (!message.valid && message.touched) {
                    <span>Please enter a message!</span>
                }
            </div>
            <div class="form-submit">
                <div class="checkbox">
                    <input type="checkbox" name="privacy" id="privacy">
                    <label for="privacy" [innerHTML]="'contact.privacy1'|translate"></label>
                </div>

                <input class="btn-submit" type="submit" value="Send">
            </div>

        </form>
        <a href="#hero"></a>

    </div>

</section>