@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    padding-top: 60px;
    background-color: all.$col-dark;
    @include all.fl();

    nav{
        @include all.fl($flexdir: row, $jc: flex-start);
        width: 100%;
        max-width: 1920px;
        padding: 0 60px;
        @media(max-width: 900px){
            padding: 0 30px;
        }
        @include all.tablet{
            padding: 0;
        }
        .link-active{
            background-color: #2d3840;
            color: all.$col-white;
            @include all.tablet{
                color: all.$col-blue;
            }
        }
        a{
            font-size: clamp(24px, 2dvw, 40px);
            padding: 24px 50px;
            color: all.$col-blue;
            transition: 300ms;
            cursor: pointer;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            &:hover{
                color: all.$col-white;
            }
            @include all.tablet{
                padding: 16px 24px;
                font-size: 20px;
                color: all.$col-white;
            }
            @media(max-width:470px){
                padding: 16px 8px;
                font-size: 16px;
            }

        }
    }

    app-single-project {
        width: 100%;
        @include all.fl();

    }
}