@use '../../../../../../public/assets/styles/all-styles.scss' as all;


.desc {
    @include all.fl();
    gap: 40px;
    width: clamp(300px, 50dvw, 800px);
    @include all.bigscreen{
        width: 1000px;
    }

    .single-desc {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        >div {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .about-project {
                @include all.fl($flexdir: row, $jc: flex-start);
                gap: 32px;

                span {
                    font-size: clamp(20px, 1.2dvw, 32px);
                }
            }

            h3 {
                font-size: clamp(28px, 1.5dvw, 40px);
                font-weight: 400;
            }

            p {
                font-size: all.$p-text;
                line-height: 1.2;
            }
        }
    }
}