<div class="desc">
    <div class="single-desc">
        <img src="assets/img/Ellipsedesc.png" alt="">
        <div>
            <div class="about-project">
                <h3>{{'projects.about'|translate}}</h3><span>{{'projects.duration'|translate}}: {{project.duration|translate}}</span>
            </div>
            <p>{{project.about|translate}}</p>
        </div>
    </div>
    <div class="single-desc">
        <img src="assets/img/Ellipsedesc.png" alt="">
        <div>
            <h3>{{'projects.organized'|translate}}</h3>

            <p>{{project.organized|translate}}</p>
        </div>
    </div>
    <div class="single-desc">
        <img src="assets/img/Ellipsedesc.png" alt="">
        <div>
            <h3>{{'projects.learning'|translate}}</h3>
            <p>{{project.learning|translate}}</p>
        </div>
    </div>
</div>