<div class="desc">
    <div class="single-desc">
        <img src="assets/img/Ellipsedesc.png" alt="">
        <div>
            <div class="about-project">
                <h3>About the Project</h3><span>Duration: 3 weeks</span>
            </div>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories</p>
        </div>
    </div>
    <div class="single-desc">
        <img src="assets/img/Ellipsedesc.png" alt="">
        <div>
            <h3>How I habe organized my work process</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, harum magni commodi dolore officiis
                beatae laborum voluptatum vitae sed dolor.</p>
        </div>
    </div>
    <div class="single-desc">
        <img src="assets/img/Ellipsedesc.png" alt="">
        <div>
            <h3>What I have learned </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus inventore numquam sed provident repellat
                mollitia ab perferendis velit placeat ex!</p>
        </div>
    </div>
</div>