@use '../../../public/assets/styles/all-styles.scss' as all;

section{
    width: 100%;
    background-color: all.$col-dark;
}

.content {
    background-color: all.$col-dark;
    line-height: 1.2;
    padding-bottom: 24px;
    @include all.mobile{
        padding-left: 24px;
    }
    h1{ 
        display: flex;
        flex-wrap: wrap;
    }

    a {
        color: all.$col-blue;
    }
}

app-header {
    position: sticky;
    top: 0;
    z-index: 10;

    @include all.tablet {
        display: none;
    }
}

app-header-mobile {
    position: sticky;
    top: 0;
    z-index: 10;

    @media(min-width: 769px) {
        display: none;
    }
}

.br-mobile {
    display: none;
}

@media (max-width: 380px) {
    .br-mobile {
        display: block;
    }
}
