<app-header-mobile></app-header-mobile>
<div class="anchor-point-hero" id="hero"></div>
<app-hero-section></app-hero-section>
<app-header></app-header>
<div class="anchor-point" id="about"></div>
<app-why-me-section></app-why-me-section>
<div class="anchor-point" id="skills"></div>
<app-skills-section></app-skills-section>
<div class="anchor-point" id="projects"></div>
<app-projects-section></app-projects-section>
<app-team-section></app-team-section>
<div class="anchor-point" id="contact"></div>
<app-contact-section></app-contact-section>