@use '../../../../../../public/assets/styles/all-styles.scss' as all;

.view-container {
    @include all.fl();
    width: 400px;
    gap: 16px;

    @include all.bigscreen {
        width: 600px;
    }

    @media(max-width: 1200px) {
        width: 100%;
    }

    >span {
        font-size: clamp(16px, 0.8dvw, 28px);

        @media(max-width: 1200px) {
            display: none;
        }
    }

    >img {

        width: clamp(300px, 30dvw, 600px);
        height: clamp(180px, 18dvw, 360px);
        object-fit: cover;
        object-position: center;
        border-radius: 24px;
    }

    .tech-container {
        @media(max-width: 1200px) {
            display: none;
        }

        display: flex;
        gap: 32px;

        img {
            width: clamp(40px, 2.5dvw, 60px);
            height: clamp(40px, 2.5dvw, 60px);
        }
    }

    .link-container {
        display: flex;
        gap: 32px;
        margin-top: 24px;
        @include all.tablet{
            display: none;
        }

        a {
            padding: 12px 20px;
            border-radius: 24px;
            transition: 300ms;
        }

        .link-test {
            background-color: all.$col-blue;
            color: all.$col-dark;

            &:hover {
                background-color: all.$col-white;
            }
        }

        .link-git {
            border: solid 1px all.$col-blue;
            color: all.$col-blue;

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }
        }

    }

    .mobile-container {
        width: 100%;
        @include all.fl($alit: flex-start);
        gap: 8px;

        @media(min-width: 1200px) {
            display: none;
        }

        h2 {
            color: all.$col-blue;
            font-weight: 400;
            margin-bottom: 8px;
        }
    }
}

