<div class="view-container">
    <div class="mobile-container">
        <h2>{{project.name}}</h2>
        <span>{{'projects.tech'|translate}}: {{project.tech}}</span>
        <span>{{'projects.duration'|translate}}: {{project.duration|translate}}</span>
    </div>

    <span>{{'projects.tech'|translate}}</span>
    <div class="tech-container">
        @for (icon of project.icons; track $index) {
        <img src="assets/icons/{{icon}}" alt="">
        }

    </div>
    <img src="{{project.img}}" alt="">
    <div class="link-container">
        <a class="link-test" href={{project.link}} target=”_blank”>Live Test</a>
        <a class="link-git" href={{project.git}} target=”_blank”>GitHub</a>
    </div>
</div>