<div class="view-container">
    <span>Technologies</span>
    <div class="tech-container">
        @for (icon of project.icons; track $index) {
        <img src="assets/icons/{{icon}}" alt="">
        }

        <!-- <img src="assets/icons/css.png" alt="">
        <img src="assets/icons/javascript.png" alt=""> -->
    </div>
    <img src="{{project.img}}" alt="">
    <div class="link-container">
        <a class="link-test" href="">Live Test</a>
        <a class="link-git" href="">GitHub</a>
    </div>
</div>