<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="content">
    <h1>{{ 'IMPRINT.TITLE' | translate }}</h1>
    <h2 id="m46">{{ 'IMPRINT.SERVICE_PROVIDER.TITLE' | translate }}</h2>
    <p>{{ 'IMPRINT.SERVICE_PROVIDER.NAME' | translate }}</p>
    <p>{{ 'IMPRINT.SERVICE_PROVIDER.ADDRESS' | translate }}</p>

    <h2 id="m56">{{ 'IMPRINT.CONTACT.TITLE' | translate }}</h2>
    <p>
        {{ 'IMPRINT.CONTACT.EMAIL_LABEL' | translate }}
        <a href="mailto:nilsalberding@web.de">nilsalberding"&#64;"web.de</a>
    </p>
    <p>{{ 'IMPRINT.CONTACT.PHONE_LABEL' | translate }} 017632859064</p>

    <p class="seal">
        <a href="https://datenschutz-generator.de/" title="{{ 'IMPRINT.SOURCE.TITLE' | translate }}" target="_blank"
            rel="noopener noreferrer nofollow">
            {{ 'IMPRINT.SOURCE.TEXT' | translate }}
        </a>
    </p>
</div>

