@use '../../../public/assets/styles/all-styles.scss' as all;

.content{
    background-color: all.$col-dark;
    line-height: 1.2;
    height: 85dvh;
    a{
        color: all.$col-blue;
    }
}

app-header {
    position: sticky;
    top: 0;
    z-index: 10;

    @include all.tablet {
        display: none;
    }
}

app-header-mobile {
    position: sticky;
    top: 0;
    z-index: 10;

    @media(min-width: 769px) {
        display: none;
    }
}