<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="content">
    <h1>Impressum</h1>
    <h2 id="m46">Diensteanbieter</h2>
    <p>Nils Alberding-Schulz</p>
    <p>Walter-Stoecker-Str</p>

    <h2 id="m56">Kontaktmöglichkeiten</h2>
    <p>E-Mail-Adresse: <a href="mailto:nilsalberding@web.de">nilsalberding&#64;web.de</a></p>
    <p>Telefon: 017632859064</p>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
            Schwenke</a></p>
</div>

<!-- TODO: Text Auf Englisch einstellen -->
 <!-- TODO: Größe von der Section so einstellen, dass nicht gescrollt werden kann  -->