@use '../../../public/assets/styles/all-styles.scss' as all;

section{
    width: 100%;
    background-color: all.$col-dark;
}

.content{
    background-color: all.$col-dark;
    line-height: 1.2;
    height: calc(100dvh - all.$header-height - 150px);
    
    @include all.tablet{
        height: calc(100dvh - 360px);
        padding: 16px;    
        h1{
        margin-bottom: 8px;
    }
    }

    a{
        color: all.$col-blue;
    }
}

app-header {
    position: sticky;
    top: 0;
    z-index: 10;

    @include all.tablet {
        display: none;
    }
}

app-header-mobile {
    position: sticky;
    top: 0;
    z-index: 10;

    @media(min-width: 769px) {
        display: none;
    }
}