<footer>
    <div class="content">
        <div class="legal-notice-container">
            <a href="/legal-notice">Legal Notice</a>
            <span>&#64; Nils Alberding-Schulz 2025</span>
        </div>
        <img src="assets/img/logo_header.png" alt="Logo">
        <div class="link-container">
            <a id="link-github" href="https://github.com/nilsalberding" target="_blank"></a>
            <a id="link-mail" href="mailto:nilsalberding@web.de"></a>
            <a id="link-linkedin" href="https://www.linkedin.com/in/nils-alberding-schulz-abb4a0389/"  target="_blank"></a>
        </div>
    </div>

</footer>