@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    height: calc(100dvh - all.$header-height);
    background-color: all.$col-dark;

    .content {
        height: 100%;
        @include all.bigscreen{
            @include all.fl($flexdir: column-reverse, $jc: space-between, $alit: flex-end);
        }
        @include all.fl($flexdir: row, $jc: space-between, $alit: flex-end);

        .hero-img {
            background-image: url(../../../../public/assets/img/shape1.svg);
            background-size: cover;
            transition: 200ms;
            display: flex;
            width: 50%;
            @include all.bigscreen{
                width: 100%;
                height: 50%;
            }
            
            

            &:hover {
                background-image: url(../../../../public/assets/img/shape2.svg);
            }

            img {
                object-fit: contain ;
                height: 100%;
                width: 100%;
            }
        }

        .hero-content {
            height: 100%;
            width: 50%;
            @include all.fl($jc: space-around);
            padding-bottom: 60px;
            @include all.bigscreen{
                width: 100%;
            }

            .hero-socials {
                width: 100%;
                @include all.fl($flexdir: row, $jc: space-between);

                .hero-icons {
                    @include all.fl();
                    gap: 16px;

                    a {
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        background-size: cover;
                        background-position: center;
                    }

                    .hero-mail {
                        background-image: url(../../../../public/assets/icons/mail1.png);

                        &:hover {
                            background-image: url(../../../../public/assets/icons/mail2.png);
                        }
                    }

                    .hero-github {
                        background-image: url(../../../../public/assets/icons/github1.png);

                        &:hover {
                            background-image: url(../../../../public/assets/icons/github2.png);
                        }
                    }

                    .hero-linkedin {
                        background-image: url(../../../../public/assets/icons/linkedin1.png);

                        &:hover {
                            background-image: url(../../../../public/assets/icons/linkedin2.png);
                        }
                    }
                }


            }

            .hero-name {
                @include all.fl();
                color: all.$col-white;
                gap: 16px;

                h1 {
                    font-family: Anta;
                    color: all.$col-white;
                    font-size: clamp(30px, 4.3dvw, 90px);
                    text-align: center;
                    font-weight: 400;
                }

                h2 {
                    font-size: clamp(24px, 2.5dvw, 48px);
                    text-align: center;
                    font-family: 'Josefin Sans';
                    font-weight: 400;
                }
            }

            .hero-button{
                @include all.arrowbtn();
                background-image: url(../../../../public/assets/icons/Arrow_down.png);

            }
        }



    }



}