<section>
    <div class="content">
        <div class="hero-img">
            <img src="assets/img/person.png" alt="person">
        </div>
        <div class="hero-content">
            <div class="hero-socials">
                <div> </div>
                <img src="assets/img/logo.png" alt="logo">
                <div class="hero-icons">
                    <a class="hero-mail" href=""></a>
                    <a class="hero-github" href=""></a>
                    <a class="hero-linkedin" href=""></a>
                </div>
            </div>
            <div class="hero-name">
                <h1>Nils Alberding-Schulz</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
            <a class="hero-button" href="#about"></a>
        </div>
    </div>
</section>