<section>
    <div class="content">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <div>
                <div> </div>
                <img src="assets/img/logo.png" alt="logo">
                <div>
                    <a href=""><img src="assets/icons/mail1.png" alt=""></a>
                    <a href=""><img src="assets/icons/github1.png" alt=""></a>
                    <a href=""><img src="assets/icons/linkedin1.png" alt=""></a>
                </div>
            </div>
            <div>
                <h1>Nils Schulz</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
            <button></button>
        </div>
    </div>
</section>