@use '../public/assets/styles/all-styles.scss' as all;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

html {
    font-size: 10px;
}

body{
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: all.$col-white;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
}

h1{
    font-family: Anta;
    font-weight: 400;
    color: all.$col-blue;
    font-size: clamp(32px, 4dvw, 64px);
    margin-bottom: 64px;
    @include all.tablet{
        margin-bottom: 40px;
    }
}

.content{
    width: 100%;
    max-width: 1920px;
    padding: 80px 80px 0 80px;
    @include all.notebook{
        padding: 50px 50px 0 50px;
    }
    @include all.tablet{
        padding: 50px 35px 0 35px;
    }
    @include all.mobile{
        padding: 40px 16px 0 16px;
    }
}

.d-none {
    display: none;
}

// #region fonts

/* josefin-sans-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../public/assets/fonts/josefin-sans-v34-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/assets/fonts/josefin-sans-v34-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../public/assets/fonts/josefin-sans-v34-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../public/assets/fonts/josefin-sans-v34-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../public/assets/fonts/josefin-sans-v34-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* anta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/anta-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// #endregion