div{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#2d3840 ;
    padding: 40px;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;

    }
}

