<header>
    <div class="content">
        <a href=""><img src="assets/img/logo_header.png" alt=""></a>
        <nav>
            <a href="#about">{{ 'header.whyMe' | translate}}</a>
            <a href="#skills">Skills</a>
            <a href="#projects">{{ 'header.projects' | translate}}</a>
            <a href="#contact">{{ 'header.contact' | translate}}</a>
        </nav>
        <div>
            <button [ngClass]="{'active': btnDe}" (click)="useLanguage('de')" (click)="setDe()" id="btn-de">DE</button>
            <button [ngClass]="{'active': btnEn}" (click)="useLanguage('en')" (click)="setEn()" id="btn-en">EN</button>
        </div>
    </div>

</header>