@use '../../../../../public/assets/styles/all-styles.scss' as all;

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: all.$col-blue;
    height: all.$header-height;
    img {
        height: clamp(60px, 7dvh, 120px)
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        font-family: 'Josefin Sans';
        @include all.notebook{
            padding: 0 50px;
        }
        

        nav {
            a {
                margin: 0 24px;
                color: all.$col-dark;
                font-size: clamp(24px, 2dvh, 38px);
                font-weight: 500;
                transition: 300ms;
                @include all.notebook{
                    font-size: 20px;
                }

                &:hover {
                    color: all.$col-white;
                }
            }
        }
        button{
            padding: 6px;
            font-family: 'Josefin Sans';
            font-size: 16px;
            transition: 300ms;
            &:hover{
                color: all.$col-white;
            }
        }
    }
}

button{
    color: all.$col-dark;
}

.active{
    background-image: url(../../../../../public/assets/img/bg_active.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: all.$col-white;
}